[submodule "code/vendor/json"]
	path = code/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "code/vendor/fmt"]
	path = code/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "code/vendor/wren"]
	path = code/vendor/wren
	url = https://github.com/munificent/wren.git
[submodule "code/vendor/gf-box2d"]
	path = code/vendor/gf-box2d
	url = https://github.com/GamedevFramework/gf-box2d.git
